<h1>Add a Flower to our Inventory!</h1>

<form action="/flowers" method="post">
  <label for="color">Color:</label>
  <input id="color" type="text" name="color" placeholder="e.g. white">
  <label for="kind">Kind:</label>
  <input id="kind" type="text" name="kind" placeholder="e.g. rose">
  <label for="price">Price:</label>
  <input id="price" type="number" name="price">
  <input type="submit" value="Add Flower">
</form>