<h1>Make a Shirt!</h1>

<% @shirt.errors.full_messages.each do |error| %>
  <p><%= error %></p>
<% end %>

<%= render partial: "form", locals: { shirt: @shirt, users: @users } %>

<%= link_to "Back", shirts_path %>

