<form action="/books" method="post">
  <label for="book-title">Title:</label>
  <input id="book-title" type="text" name="title" placeholder="Book Title">
  <br>
  <label for="book-author">Author:</label>
  <input id="book-author" type="text" name="author" placeholder="Book Author">
  <br>
  <label for="book-snippet">Snippet:</label>
  <!-- <input id="book-snippet" type="text" placeholder="Book Snippet"> -->
  <textarea id="book-snippet" name="snippet" rows="4" cols="50">
  </textarea>
  <input type="submit" value="Create Book">
</form>

<p>(back <a href="/books">home</a>)</p>